/* ------Comment in CSS(HELP ORGANIZE CODE)------ */
/* ------ BOX Sizing -----*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*-------Utility Classes-------*/
  .container{
    max-width:960px;
    width:80vw;
    /*--Centering specific data to center--*/
    margin:40px auto;
  }

  .img-right{
    float:right;
    margin: 10px 0 10px 20px; /* Create spacing around the imagine. MARGIN */
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 4px; /* Create rounded edges*/
    background-color: #119a5a4d; /* Create color inside padding */
  }

  .img-left{ /*.img with class, Change class to allow changes*/
    float:left;
    margin: 10px 20px 10px 0px; /* Create spacing around the imagine. MARGIN */
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 4px; /* Create rounded edges*/
    background-color: #119a5a4d; /* Create color inside padding */
  }

  .img-center{
    display:block;
    margin:20px auto;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 4px; /* Create rounded edges*/
    background-color: #119a5a4d; /* Create color inside padding */
  }


  /*-----Responsive Images -----*/
  /* Make content imgs to fit to parent size*/
  img{
    max-width:100%;
    height:auto;
  }

  /* ------ Global Style(Typography) ------*/

  body {
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    line-height:1.2rem; /* Line height for spacing */
  }

  /* ----To target header, no space = class primary. (header.primary)
    space . = targets class within header (header .primary)---- */
  header.primary{ 
    /* --- google adobe color!! ---*/
    background-color: #34b1e3;

   
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2328909c' fill-opacity='0.2'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 


    text-align: center;
    text-shadow: 1px 1px #000000;
    color:#ffffff;
    /*------Long hand properties for box-----*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    /*---Short Form---*/
    /* T,R,B,L */
    /*-- If all sides are same value, only req 1 value(SEE BELOW) --*/
    padding: 40px 10px 30px 20px;
    /* padding: 40px <- same as above */
    /* top/bottom | left/right (Two value type) */
    padding: 20px 40px;
 }
 header.primary h1{
  font-size:2.6rem;
  margin: 10px 0 20px;
 }
/*"." = class*/
header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.6rem;
  /* 3 Value Margin; Top| left/right| Bottom*/
  margin: 0px auto 40px;
}

header.primary nav{
 /* background:#34b1e3;*/
  width:80vw;
  /*-- create a fixed size point--*/
  max-width:900px;
  /*---Center this margin, must use auto.--*/
  /*- NOT VIABLE --->margin-left:30px;--*/
  margin:20px auto;
}
header.primary nav ul{
  padding:0;
  /*---Flexbox helps create spacing/ording up list's not in table--*/
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
header.primary nav ul li{
  list-style-type:none;
}

header.primary ul li a{
  color:#ffffff;
  /*--Removes underline--*/
  text-decoration:none;
  /*--Creating shadow effect--*/
  background-color:rgba(0,0,0,.4);
  padding:8px 14px;
  border-radius:20px;
  /*--Transisiton from shade above to set shade below--*/
  transition:1s;
  /*-- create border around the "bubble" for the links--*/
  border: 2px solid rgba(0,0,0,.4);
}
/*---Hyper link = link, hover, active, visited ---*/
header.primary ul li a:hover, 
header.primary ul li a:active{
  background-color:rgba(0,0,0,1.5);
}

/*--- # for ID selectors . for class ---*/
#intro h2{
  color:#34b1e3;
  border-bottom:1px dotted #c0c0c0;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
  border-bottom:1px dotted #c0c0c0;
  /*--Top/Bottom & L/R --*/
  padding:2.4rem 0;
  border-top:1px dotted #c0c0c0;  
}

article.post{
  /*create space between columns of articles*/
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.3);
  /*Keep the content off the edges of the boxes*/
  padding:10px;
  border-radius:4px;
  font-size:.7rem;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0, .3);
}

time.post-date, figcaption, footer.post-meta{
  text-transform:uppercase;
  color:#c0c0c0;
  font-size:0.6rem;
}

.post figue{
  margin:0;
}

.post figue img{
  /*---- border has size, stroke, color-----*/
  border: 1px solid #c0c0c0;
  padding: 4px;
  /*--Create color for padding, so to speak.---
      background:red;*/
  border-radius:4px;
}

/*--- a tag for href---*/
.post a{
  color:#34b1e3;
}

.post a:hover, .post a:active{
  text-decoration:none;
}

#demo h2{
  border-left: 7.5px solid #34b1e3;
  padding: 10px;
}

#demo a{
  color:#34b1e3;
}

table{
  border:2px solid #c0c0c0;
  border-collapse:collapse; /*Remove double borders and not show gap between*/
  width:100%;
}

tr:nth-child(){
  background-color:rgba(192, 192, 192, 0.5);

}
th{
  background-color:#000000;
  color: #ffffff;
  padding:10px;
}
td{
  border:1px solid #c0c0c0;
  padding:5px;
  width:33%;
  text-align:right;
}

td:first-of-type{ /* Move only first items in chart to left */
  text-align:left;
}

#demo ol{
  list-style-type:upper-alpha;
}

#demo ul{
  list-style-type:square;
}

#demo ul ul{
  list-style-type:circle;
  color:red;
}

#demo dl{

}

#demo dt{
 font-weight:bold;
}

#demo dd{
  margin:0;
}

/* Adjacent sibling combinator */
dd + dt{
 /* color:red;  USE COLOR TO CHECK TO SEE WHAT ELEMENTS ARE BEING CHANGED*/
  margin-top:20px;
}

#demo blockquote{
  background-color: #c0c0c0;
  padding: 20px;
  border: 5px double #28909c;
  border-radius: 6px; /* round borders */
}

#demo cite{
  display:block; /* Must change to block so it goes down next line */
  font-weight:bold;
  font-size:.7rem;
  text-align:right;
  margin:20px;
}


/*---Attribute Selector---*/
aside[role="complementary"]{
  background-color:#28909c;
  color:#ffffff;
  padding:1.4rem;
}

aside .container{
  display:flex;
  justify-content:space-between;
  flex-direction:row;
}

aside article.widget{
  width:45%;
}

/*--Only to focus the last item of type of multiple types--*/
aside article.widget a:last-of-type {
  color:#ffffff;
  /*--Hyper link inline, change inline to block--*/
  display:block;
  margin-top:20px;
  text-align:right;
}

aside article.widget a{
  color:#ffffff;
}

/*-- Turn off a display property/information --*/
aside article footer{
  display: none;
}

#colophon{
  background-color:#34b1e3;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2328909c' fill-opacity='0.2'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
}

/*---Create padding size to increase size as well as set margin = 0 to
    create a full-color block--*/
#colophon h6{
  padding:20px;
  margin:0;
  color:#ffffff;
  text-align: center;
  font-size:0.9rem;
  text-transform:uppercase;
}





/*-------------Media Queries---------*/

@media screen and (max-width:650px){

  header.primary nav ul{
    flex-direction:column;
  }
  header.primary nav a{
    display:block;  
  }
  header.primary nav li{
    margin-bottom:10px;
  }
}

