/* ------Comment in CSS(HELP ORGANIZE CODE)------ */
/* ------ BOX Sizing -----*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  /*-------Utility Classes-------*/
  .container{
    max-width:960px;
    width:80vw;
    /*--Centering specific data to center--*/
    margin:40px auto;
  }

  /*-----Responsive Images -----*/
  /* Make content imgs to fit to parent size*/
  img{
    max-width:100%;
  }

  /* ------ Global Style(Typography) ------*/

  body {
    font-family: 'Inter', sans-serif;
    font-family: 'Raleway', sans-serif;
  }

  /* ----To target header, no space = class primary. (header.primary)
    space . = targets class within header (header .primary)---- */
  header.primary{ 
    /* --- google adobe color!! ---*/
    background-color: #34b1e3;
    text-align: center;
    text-shadow: 1px 1px #000000;
    color:#ffffff;
    /*------Long hand properties for box-----*/
    padding-top:40px;
    padding-right:40px;
    padding-bottom:40px;
    padding-left:40px;
    /*---Short Form---*/
    /* T,R,B,L */
    /*-- If all sides are same value, only req 1 value(SEE BELOW) --*/
    padding: 40px 40px 40px 40px;
    /* padding: 40px <- same as above */
    /* top/bottom | left/right (Two value type) */
    padding: 20px 40px;
 }
 header.primary h1{
  font-size:2.6rem;
  margin: 10px 0;
 }
/*"." = class*/
header.primary h1 a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.6rem;
  /* 3 Value Margin; Top| left/right| Bottom*/
  margin: 0px auto 40px;
}

header.primary nav{
  background:#34b1e3;
  width:80vw;
  /*-- create a fixed size point--*/
  max-width:900px;
  /*---Center this margin, must use auto.--*/
  /*- NOT VIABLE --->margin-left:30px;--*/
  margin:20px auto;
}
header.primary nav ul{
  padding:0;
  /*---Flexbox helps create spacing/ording up list's not in table--*/
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}
header.primary nav ul li{
  list-style-type:none;
}

header.primary ul li a{
  color:#ffffff;
  /*--Removes underline--*/
  text-decoration:none;
  /*--Creating shadow effect--*/
  background-color:rgba(0,0,0,.4);
  padding:8px 14px;
  border-radius:20px;
  /*--Transisiton from shade above to set shade below--*/
  transition:1s;
  /*-- create border around the "bubble" for the links--*/
  border: 2px solid rgba(0,0,0,.4);
}
/*---Hyper link = link, hover, active, visited ---*/
hearder.primary ul li a:hover, header.primary ul li a:active{
  background-color:rgba(0,0,0,1.5);
}

/*--- # for ID selectors . for class ---*/
#intro h2{
  color:#34b1e3;
  border-bottom:1px dotted #c0c0c0;
}

#content{
  display:flex;
  flex-direction:row;
  justify-content:space-evenly;
}

article.post{
  /*create space between columns of articles*/
  width:30%;
  box-shadow:0 4px 8px rgba(0,0,0,.3);
  /*Keep the content off the edges of the boxes*/
  padding:10px;
  border-radius:4px;
  font-size:.8rem;
}

#content article.post:hover{
  box-shadow: 0 8px 16px rgba(0,0,0, .3);
}
/*-------------Media Queries---------*/

@media screen and (max-width:650px){

  header.primary nav ul{
    flex-direction:column;
  }
  header.primary nav a{
    display:block;  
  }
  header.primary nav li{
    margin-bottom:10px;
  }
}

