/* ------ BOX Sizing -----*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

    /* ------ Global Style(Typography) ------*/

    body {
        font-family: 'Inter', sans-serif;
        font-family: 'Raleway', sans-serif;
        margin: 0;
        line-height:1.2rem; /* Line height for spacing */
      }

      header.primary{ 
        /* --- google adobe color!! ---*/
        background-color: #34b1e3;
    
       
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='24' viewBox='0 0 12 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2328909c' fill-opacity='0.2'%3E%3Cpath d='M2 0h2v12H2V0zm1 20c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM9 8c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zm-1 4h2v12H8V12z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"); 
    
    
        text-align: center;
        text-shadow: 1px 1px #000000;
        color:#ffffff;
        /*------Long hand properties for box-----*/
        padding-top:40px;
        padding-right:40px;
        padding-bottom:40px;
        padding-left:40px;
        /*---Short Form---*/
        /* T,R,B,L */
        padding: 40px 10px 30px 20px;
        /* padding: 40px <- same as above */
        /* top/bottom | left/right (Two value type) */
        padding: 20px 40px;
     }