/* ------ BOX Sizing -----*/
html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

/*-------Utility Classes-------*/
    .container{
        max-width:900px;
        width:80vw;
        /*--Centering specific data to center--*/
        margin:40px auto;
      }
    
      .img-right{
        float:right;
        margin: 10px 0 10px 20px; /* Create spacing around the imagine. MARGIN */
        border: 2px solid #000000;
        padding: 5px;
        border-radius: 4px; /* Create rounded edges*/
        background-color: #119a5a4d; /* Create color inside padding */
      }
    
      .img-left{ /*.img with class, Change class to allow changes*/
        float:left;
        margin: 10px 20px 10px 0px; /* Create spacing around the imagine. MARGIN */
        border: 2px solid #000000;
        padding: 5px;
        border-radius: 4px; /* Create rounded edges*/
        background-color: #119a5a4d; /* Create color inside padding */
      }
    
      .img-center{
        display:block;
        margin:20px auto;
        border: 2px solid #000000;
        padding: 5px;
        border-radius: 4px; /* Create rounded edges*/
        background-color: #119a5a4d; /* Create color inside padding */
      }
      
/* ------ Global Style(Typography) ------*/

body{
  font-family: 'Inter', sans-serif;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  line-height: 1.2rem;
}

/*-----Responsive Images -----*/
  img{
    max-width:100%;
    height:auto;
  }

  header.primary {
    background-color: #181c1f;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px #000000;
    /* Shorhand T,R,B,L*/
    padding: 6em 2em;
    position: relative;
  }
  header.primary::before {
    content: "";
    background-image: url("/dragon/assets/img/dragon-in-space.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  }
  header.primary h1 a {
    color: #ffffff;
    background-image: url("/dragon/assets/img/Spacex.png");
    display: block;
    width: 460px;
    height: 70px;
    margin: 0 auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  
  header.primary h2 {
    font-family: "Goldman", cursive;
    font-size: 2em;
    /* Shorthand Three Value Top, Left/Right, Bottom*/
    margin: 20px auto 40px;
    position: relative;
  }
  
  header.primary nav ul {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    max-width: 900px;
    margin: 20px auto;
  }
  
  header.primary nav li {
    list-style-type: none;
    padding: 0;
    width: 20%;
  }
  
  header.primary nav a:link,
  header.primary nav a:visited {
    color: white;
    text-decoration: none;
    background-color: #000000;
    background-color: rgba(142, 166, 184, 0.4);
    padding: 8px 16px;
    border-radius: 10px;
    transition: 0.6s;
    display: block;
  }
  
  header.primary nav a:hover,
  header.primary nav a:active {
    background-color: rgba(51, 83, 107, 0.8);
  }